<link rel='stylesheet' href='/partials/user_preview/user_preview.scss'>
<div class='user-preview'>
    <img class='user-photo' src='/images/avatar.png' alt='User photo'></img>
    <p class='user-name'>{{user-name}}</p>
</div>
