<link rel='stylesheet' href='/partials/modals/modals.scss'>
<div class='modal'>
    {{> btn_action/btn_action class='modal-btn add-photo-video-btn' src='/images/add-photo-video.svg' action-name='Photo or video'}}
    {{> btn_action/btn_action class='modal-btn add-file-btn' src='/images/add-file.svg' action-name='File'}}
    {{> btn_action/btn_action class='modal-btn add-location-btn' src='/images/add-location.svg' action-name='Location'}}
</div>
