<link rel='stylesheet' href='/partials/chat/chat_list/chat_list.scss'>
<div class='chat-list'>
  <form>
    {{> input/input label-class='custom-input-label' name='message' type='text' placeholder='Search'}}
  </form>

  {{> stub/stub label='It will be chat list here...'}}
</div>
