<link rel='stylesheet' href='/partials/user_avatar/user_avatar.scss' />
<div class='avatar-container'>
  <img class={{class}} src={{src}} alt='User avatar' />
  <span>Avatar</span>
</div>
<p class='user-name'>{{user-name}}</p>
