<link rel='stylesheet' href='/partials/modals/load_file/load_file.scss'>
<div class='load-files-modal'>
    <p>{{loading-file-status}}</p>

    <form>
        {{> input/input label-class='custom-input-label' name='custom-input' type='file' text='Select file'}}
        {{> button/button label='Change avatar'}}
    </form>
</div>
