<link rel='stylesheet' href='/partials/error/error.scss' />
<main className='error-page'>
  <h1>{{error-number}}</h1>
  <h2>{{error-text}}</h2>
  <nav>
    <a href='/'>Back to chats</a>
  </nav>
</main>
