@import '/layout/scss/variables';

.btn-with-action {
  @include flexbox-style(flex, start, center, row, auto);

  width: 15rem;
  color: $color-accent;
  padding: 0.5rem;

  .modal-btn {
    width: 2rem;
    height: 2rem;
  }

  img {
    margin-right: 1rem;
  }
}
