<link
  rel='stylesheet'
  href='/partials/profile_data_item/profile_data_item.scss'
/>
<div class='data-item-container'>
  <p>{{item_name}}</p>
    <input type='{{type}}' name='{{name}}' placeholder='{{placeholder}}' class='item-value'></input>
</div>
