<div class='modal'>
    {{{ BtnAction class='modal-btn add-photo-video-btn' src='/images/add-photo-video.svg' actionName='Photo or video'}}}
    {{{ BtnAction class='modal-btn add-file-btn' src='/images/add-file.svg' actionName='File'}}}
    {{{ BtnAction class='modal-btn add-location-btn' src='/images/add-location.svg' actionName='Location'}}}
</div>
