.btn {
  width: 280px;
  min-height: 37px;
  margin: auto 0 -1rem;

  font-size: 1.1rem;
  font-weight: 500;

  border: none;
  border-radius: 8px;

  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.9;
  }
}
