<div class='load-files-outer'>
  <div class='load-files-modal'>
    <p>{{loadingFileStatus}}</p>

    <form>
      <label for='custom-input' class='custom-input-label'>
        {{{input}}}
      </label>
      {{{button}}}
    </form>
  </div>
</div>
