$main-color: #2b2b2b;
$dark-color: #202020;
$text-color: #cecece;
$dark-text-color: #525252;
$main-light: #f9f9f9;
$color-accent: #444C60;

@mixin flexbox-style($display, $justify-content, $align-items, $flex-direction, $height) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  height: $height;
  flex-direction: $flex-direction;
}

@mixin placeholder-style($color, $font-size, $padding) {
  &::-moz-placeholder {
    color: $color;
    font-size: $font-size;
    padding: $padding;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    padding: $padding;
  }

  &::-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    padding: $padding;
  }

  &::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
    padding: $padding;
  }
}
