$main-color: #2b2b2b;
$dark-color: #202020;
$dark-color-2: #444;
$text-color: #cecece;
$dark-text-color: #525252;
$light-text-color: #999;
$main-light: #f9f9f9;
$color-accent: #444c60;

@mixin flexbox($justify-content, $align-items, $flex-direction, $height, $gap) {
  display: flex;
  gap: $gap;
  height: $height;

  @if $justify-content != initial {
    justify-content: $justify-content;
  }

  @if $align-items != initial {
    align-items: $align-items;
  }

  @if $flex-direction != row {
    flex-direction: $flex-direction;
  }
}

@mixin placeholder-style($color, $font-size, $padding) {
  &::placeholder {
    padding: $padding;
    font-size: $font-size;
    color: $color;
    opacity: 1;
  }
}
