@import './variables';

ul {
  @include flexbox(center, center, row, 100vh, 0);
  list-style: none;
}

a {
  padding: 0;
  color: white;
  text-decoration: none;
}

.home-hav {
  a {
    font-size: 2rem;
  }

  button {
    width: 140px;
    height: 40px;
  }
}
