@import './variables';
@import './font';

@import '../../components/chat-modules/chat_feed/chat_feed';
@import '../../components/chat-modules/chat_list/chat_list';
@import '../../components/btn_action/btn_action';
@import '../../components/error/error';
@import '../../components/modals/modals';
@import '../../components/modals/load_file/load_file';
@import '../../components/profile_back_bar/profile_back_bar';
@import '../../components/profile-field/profile-field';
@import '../../components/user_avatar/user_avatar';
@import '../../components/user_preview/user_preview';
@import '../../components/message/message';
@import '../../components/chat/chat';
@import '../../components/input/input';

@import '../../pages/messenger/messenger';
@import '../../pages/login/login';
@import '../../pages/profile/profile.scss';
@import '../../pages/registration/registration';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 4px;
    background: $main-light;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background: $dark-text-color;
  }
}

body {
  height: 100vh;
  font-family: Roboto-Regular, sans-serif;
  color: $text-color;
  background-color: $main-color;
}

#app {
  width: 100%;
  height: 100%;
}

.input-container {
  width: 100%;

  input {
    @include placeholder-style($light-text-color, 14px, 0);
  }
}

.input-error {
  position: absolute;
  z-index: 5;
  top: 18px;

  display: none;

  font-size: 10px;
  color: red;

  &.show {
    display: block;
  }
}

button {
  cursor: pointer;
}

.modal-outer {
  @include flexbox(center, center, column, 100%, 0);
  position: absolute;
  inset: 0;

  display: none;

  width: 100%;
  height: 100%;

  background-color: #0004;

  .modal {
    @include flexbox(space-around, center, column, 100%, 0);

    width: 360px;
    height: 240px;
    padding: 0.5rem;

    background-color: $main-light;
    border-radius: 12px;

    button {
      z-index: 100;
      margin: 0;
    }
  }

  &.active {
    display: flex;
  }

  &.disable {
    display: none;
  }
}
